.main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 1rem;
    width: 100%;
}
.image-isologo {
    position: relative;
    width: 350px;
    height: 500px;
}
@media (max-width:768px) {
    .main-section {
        gap: 2rem;
        padding-top: 0rem;
    }
    .main-section h2 {
        font-size: 3rem;
    }
    .row-image-hero {
        flex-direction: column;
    }
    .image-isologo img {
        position: relative;
    }
    .image-isologo {
        height: 250px;
    }
    .btn-chat-with-us {
        display: none;
    }
}